{% load static %}
<section class="col-2 rounded position-sticky" style="top: 80px;">
    <ul class="list-group">

        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                Французские новинки
            </h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Кинг Комбо</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                Бургеры
            </h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                Креветки
            </h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                Роллы
            </h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                Соусы
            </h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Картофель</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Закуски</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Напитки</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Молочные коктейли</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">Десерты</h6>
        </li>
        <li class="list-group-item border-0 bg-body-secondary">
            <img class="category-image" height="48" width="48" src={% static "/img/category.webp" %}>
            <h6 class="category-title">
                В Роблокс!
            </h6>
        </li>

    </ul>
</section>