{% load static %}
<header class="position-sticky z-1 d-flex justify-content-center bg-body" style="top: 0; left: 0">
    <nav class="navbar col-md-9 navbar-expand-lg justify-content-between">


        <div class="d-flex align-items-center">
            <div>
                <span class="navbar-toggler-icon"></span>
            </div>

            <div class="mx-3 ">
                <h6 class="m-0">В ресторане</h6>
                <span>Для заказа выбери рестик</span>
            </div>

            <div class="col-xs-6 mx-3">
                <input class="form-control me-2 search" type="search" placeholder="Введи название блюда"
                       aria-label="Search">
            </div>


            <a class="navbar-brand" href="#">
                <img width="54" height="54" src="{% static "img/logo.svg" %}" alt="BQ">
            </a>
        </div>

        <div class="d-flex align-items-center">


            <a class="nav-link color-body" href="#">РАБОТА ЗА 5К В МЕСЯЦ</a>


            <a class="nav-link color-body" href="#">КУПОНЫ</a>


            <a class="nav-link color-body" href="#">QUEEN CLUB</a>


            <a class="nav-link color-body d-flex justify-content-center align-items-center" href="#">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     class="">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.4545 5.45455C17.4545 8.467 15.0124 10.9091 12 10.9091C8.98754 10.9091 7.18545 8.467 6.78545 5.45455C6.38545 2.4421 8.98754 0 12 0C15.0124 0 17.4545 2.44209 17.4545 5.45455ZM0.4 18.6542L0 22.6969L24 23.4969V18.6542C24 15.4645 21.0153 12.8787 17.3333 12.8787H6.66667C2.98477 12.8787 0.4 15.4645 0.4 18.6542Z"
                          fill="currentColor"></path>
                </svg>
                ВОЙТИ
            </a>

            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar"
                    aria-controls="cartSidebar"
                    class="nav-item _disabled header-cart d-flex justify-content-center align-items-center mx-5 position-relative color-body rounded-5">
                <i class="bi bi-cart4 header-cart-icon mx-2 font-size-large"></i>
                <span class="font-rotonda mx-2 header-cart-price cart-price"></span>
            </button>


        </div>


    </nav>
</header>